body
{
    background-color:black;
    
}
div1 {
    display: flex;
    background: white;
    padding: 40px;
}
div2 {
     display: flex;
    background: white;
    padding: 15px;
}
h1 {
    font-size: 50px;
    color: white;
    font-family: Distant Galaxy;
    text-align: center;
}
.home_button {
    font-size: 40px;
    transform: translateX(400px);
    display: block;
    background: black;
    color: white;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 300px;
    text-align: center;
    border-radius: 30px;
    font-family: Distant Galaxy;
}
.home_button:hover {
    background: orange;
}
h2 {
    font-size: 50px;
    color: white;
    font-family: Arial;
    text-align: center;

}
.Join_button {
    font-size: 40px;
    transform: translateX(1100px);
    display: block;
    background: black;
    color: white;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 300px;
    text-align: center;
    border-radius: 30px;
    font-family: Distant Galaxy;
}

    .Join_button:hover {
        background: orange;
    }

h2 {
    font-size: 50px;
    color: white;
    font-family: Arial;
    text-align: center;
}
.about {
    color: white;
    font-family:Arial; 
    font-size:40px;
}
@keyframes myAnimation {
    0%{
        background-color: white;
        
        left:0px;
        top:0px;
    }
    25% {
        background-color: white;
        left: 1200px;
        top:0px;
       
    }
    50% {
        background-color: white;
        left: 1200px;
        top: -110px
    }
    75% {
        background-color: white;
        left: 0px;
        top: -110px
    }
    100% {
        background-color: white;
        left: 0px;
        top: 0px
    }

}
div2 {
    animation-name: myAnimation;
    animation-duration: 4s;
    position: relative;
    width: 20px;
    height: 20px;
    transform: translate(100px,-40px);
    animation-iteration-count: infinite;
    border-radius: 30px;
}
.about_first_line {
    display: flex;
    background: white;
    padding: 20px;
    color: darkorange;
    font-size: 40px;
    font-family: 'Distant Galaxy';
}
footer {
    display: flex;
    background: white;
    padding: 30px;
    font-size: 20px;
    font-family:Arial;
}
